.container {
  padding: 30px 20px;
}

.headline {
  margin-bottom: 15px;
  text-align: center;
  line-height: 30px;
}

.description {
  margin-bottom: 10px;
  text-align: center;
  line-height: 24px;
}
